@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url(//db.onlinewebfonts.com/c/b14485043aeeae9b1e5ad99f51fca8a7?family=IndustryW00-Bold);

@font-face {
    font-family: Industry;
    src: url("css/industry.otf") format("opentype");
}

body {
    overflow: hidden;
}

* {
    font-family: 'IndustryW00-Bold', sans-serif;
}

p {
    font-family: 'IndustryW00-Bold';
}

.bottom-particles {
    position: absolute;
    bottom: 5vh;
    left: 5vh;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -2;
}

#webcamStream {
    width: 1280px;
    height: 720px;
    filter: grayscale();
}

#videoStream {
    position: relative;
    transform: scaleX(-1);
}

#overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}

.panel {    
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-left: 5px solid rgba(255, 255, 255, 0.75);    
}

.panel-title {
    padding: 5px;
    padding-left: 10px;

    font-family: 'IndustryW00-Bold';

    font-size: 1.8em;
    font-style: bold;

}

.panel-content {
    padding: 10px;
    font-size: 1em;
}

.padding-0 {
    padding: 0px;
}

.font-0_5 {
    font-size: 0.5em;
}

.font-1 {
    font-size: 1em;
}

.font-2 {
    font-size: 2em;
}

.font-3 {
    font-size: 3em;
}

.font-4 {
    font-size: 4em;
}

.padding-10 {
    padding: 10px;
}

.panel-icon {
    position: absolute;    
    top: -11px;
    right: 5px;
    width: 75px;
    height: 75px;
}

.panel-divider {
    border: none;
    border-bottom: thin solid white;
    width: 100%;
    margin: 0px;
}

.iwdk-logo {
    position: absolute;
    bottom: 50px;
    right: 50px;
    filter: brightness(0) invert(1);
}