
@font-face {font-family: "IndustryW00-Bold";
    src: url("/css/b14485043aeeae9b1e5ad99f51fca8a7.eot"); /* IE9*/
    src: url("/css/b14485043aeeae9b1e5ad99f51fca8a7.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/css/b14485043aeeae9b1e5ad99f51fca8a7.woff2") format("woff2"), /* chrome firefox */
    url("/css/b14485043aeeae9b1e5ad99f51fca8a7.woff") format("woff"), /* chrome firefox */
    url("/css/b14485043aeeae9b1e5ad99f51fca8a7.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("/css/b14485043aeeae9b1e5ad99f51fca8a7.svg#IndustryW00-Bold") format("svg"); /* iOS 4.1- */
}

body {
    overflow: hidden;
}


* {
    font-family: 'IndustryW00-Bold', sans-serif;
}

p {
    font-family: 'IndustryW00-Bold';
}


#videoStream {    
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

#overlay, .overlay {
    position: absolute;
    bottom: 0;
    left: 0;    
    width: 100%;
    height: auto;   
  }

  #overlayAll, .overlayAll {
    position: absolute;
    bottom: 0;
    left: 0;    
    width: 100%;
    height: auto;   
  }

#webcamStream {
    width: 100%;
    height: auto;    
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -2;
}

#backgroundColorOverlay {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;    
    background-color: rgba(0, 180, 230, 0.1);
}

.panel {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-left: 5px solid rgba(255, 255, 255, 0.75);    
}

.panel-title {
    padding: 5px;
    padding-left: 10px;
    font-size: 1.8em;
    font-style: bold;
}

.panel-content {
    padding: 10px;
    font-size: 1em;
}

.padding-0 {
    padding: 0px;
}

.font-0_5 {
    font-size: 0.5em;
}

.font-1 {
    font-size: 1em;
}

.font-2 {
    font-size: 2em;
}

.padding-10 {
    padding: 10px;
}

.panel-icon {
    position: absolute;    
    top: -11px;
    right: 5px;
    width: 75px;
    height: 75px;
}

.panel-divider {
    border: none;
    border-bottom: thin solid white;
    width: 100%;
    margin: 0px;
}

.bottom-spinner {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
}

.bottom-particles {
    position: absolute;
    bottom: 5vh;
    left: 5vh;
}

#console {
    overflow: hidden;
}

.logo-container {
    position: absolute;    
    bottom: 10vh;
    right: 45vw;
    display: flex;
    align-content: center;
    justify-content: center;
    width: 10vw;
}

.iwdk-logo {    
    filter: brightness(0) invert(1);
}

.blurry-text {
    text-shadow: 0 0 6px white;
    color: transparent;
 }

 .trackedFace {
     position: absolute;
     top: 0px;
     right: 10px;
     height: 175px;
     width: auto;

 }


 .progress-line, .progress-line:before {
    height: 3px;
    width: 100%;
    margin: 0;
  }
  .progress-line {
    background-color: #fff;
    display: -webkit-flex;
    display: flex;
  }
  .progress-line:before {
    background-color: #30886e;
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
  @-webkit-keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
  }
  @keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
  }